<!-- Meta tags, CSS links, and other head elements can go here -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">?
<link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=1.0"> -->

<!-- Configure MathJax -->
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
    },
    svg: {
      fontCache: 'global'
    },
    TeX: {
      equationNumbers: { autoNumber: "all" },
      extensions: ["AMSmath.js", "AMSsymbols.js"]
    }
  };
</script>

<!-- Include MathJax -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> -->
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
