<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<!-- HEAD -->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!-- <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}"> -->
    {%- include head.html -%}
  </head>

<!-- BODY -->
  <body>
    <div class="wrapper">
      
      <!-- HEADER -->
      <header>
        {% include navigation.html %}
      </header>

      <!-- SECTION -->
      <div class="container">
        <section>
          {{ content }}
        </section>
      </div>

      <!-- FOOTER -->
      <footer>
        {% include footer.html %}
      </footer>

    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
